<table class="table">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">A4/A3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">hind</th>
        <td>{{scan_tavahind}}</td>
        </tr>
        <tr class="collapse soodus-table {{collapseID}}">
        <th scope="row">-5%</th>
        <td>{{scan_soodus1}}</td>
        </tr>
        <tr class="collapse soodus-table {{collapseID}}">
        <th scope="row">-10%</th>
        <td>{{scan_soodus2}}</td>
        </tr>
    </tbody>
</table>